html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
footer {
    margin-top: auto;
}
.content-div {
    min-height: 50vh;
    display: none;
    background-color: #ffffff;
    overflow-y: auto;
}
.content-div.active {
    display: block;
}
.sidebar {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 100%;
    padding: 10px 0;
    border-right: 1px solid #ddd;
    border-radius: 5px;
}
.sidebar .nav-link {
    color: #333;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
}
.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    color: #28a745;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.desktop, .mobile {
    display: none;
}

/* Show the desktop div for screens larger than 768px */
@media (min-width: 769px) {
    .desktop {
        display: block;
    }
}

/* Show the mobile div for screens smaller or equal to 768px */
@media (max-width: 768px) {
    .mobile {
        display: block;
    }
}

@media (max-width: 768px) {
    #hide-on-mobile {
      display: none; /* Hide only this section */
    }
  }